@import 'common/var.css';
@b o {
    @e tab {
        @e header {
            padding-bottom: 10px;
        }
        @e wrapper {
            position: relative;
            border-bottom: 2px solid #e4e7ed;
        }
        @e item {
            display: inline-block;
            font-size: 14px;
            margin-right: 40px;
            padding: 10px 0;
            margin-bottom: -1px;
            @m active {
                color: #409eff;
                border-bottom: 2px solid #409eff;
            }
            @m card {
                padding: 10px 20px;
                border-top: 1px solid #e4e7ed;
                border-left: 1px solid #e4e7ed;
                border-right: 1px solid #e4e7ed;
                margin: 0;
            }
            @m disabled {
                background-color: #f5f7fa;
            }
            @m disabled:hover {
                cursor: no-drop;
            }
        }
    }
}

@b o {
    @e tab {
        @e pannel {
            display: none;
            padding: 20px 0;
            font-size: 14px;
            @m active {
                display: block;
            }
        }
    }
}

.o__tab__item.o__tab__item--active.o__tab__item--card {
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 1px 3px 2px #FFFFFF;
}